:root {
  color-scheme: var(
    --color-scheme
  );

  --header-height: 2.3rem;

  --color-scheme: light dark;

  --background-color: light-dark(
    var(--aqua-gray-6-color),
    var(--dark-gray-5-color)
  );

  --foreground-color: light-dark(
    black,
    white
  );

  --scrollbar-thumb-color: light-dark(
    var(--aqua-gray-3-color),
    var(--dark-gray-2-color)
  );

  --scrollbar-track-color: light-dark(
    var(--aqua-gray-6-color),
    var(--dark-gray-5-color)
  );

  --text-field-background-color: light-dark(
    var(--aqua-gray-5-color),
    var(--dark-gray-4-color)
  );

  --text-field-border-color: light-dark(
    transparent,
    transparent
  );

  --placeholder-text-color: light-dark(
    #00000040,
    #ffffff40
  );

  --primary-button-text-color: light-dark(
    white,
    white
  );

  --primary-button-background-color: light-dark(
    var(--dark-blue-color),
    var(--aqua-blue-color)
  );

  --primary-button-active-background-color: light-dark(
    var(--aqua-blue-color),
    var(--dark-blue-color)
  );

  --selected-text-color: light-dark(
    white,
    white
  );

  --selected-text-background-color: light-dark(
    var(--aqua-blue-color),
    var(--dark-blue-color)
  );

  --control-accent-color: light-dark(
    var(--aqua-blue-color),
    var(--dark-blue-color)
  );

  --keyboard-focus-indicator-color: light-dark(
    #074cf180,
    #1c96ff80
  );

  --label-color: light-dark(
    #000000d9,
    #ffffffd9
  );

  --secondary-label-color: light-dark(
    #00000080,
    #ffffff8c
  );

  --tertiary-label-color: light-dark(
    #00000042,
    #ffffff40
  );

  --disabled-control-text-color: light-dark(
    #00000040,
    #ffffff40
  );

  --separator-color: light-dark(
    #0000001a,
    #ffffff1a
  );

  --shadow-color: light-dark(
    #00000059,
    #00000059
  );

  --popover-background-color: light-dark(
    var(--aqua-gray-6-color),
    var(--dark-gray-5-color)
  );

  --popover-text-color: light-dark(
    #000000d9,
    #ffffffd9
  );

  --popover-border-color: light-dark(
    var(--aqua-gray-5-color),
    var(--dark-gray-4-color)
  );

  --tag-pill-background-color: light-dark(
    var(--aqua-blue-color),
    var(--dark-blue-color)
  );

  --tag-pill-text-color: light-dark(
    white,
    white
  );

  /*
   * macOS color palette
   * https://developer.apple.com/design/human-interface-guidelines/foundations/color#specifications
   */
  --aqua-red-color: oklch(
    from #ff3b30 l c h
  );

  --dark-red-color: oklch(
    from #ff453a l c h
  );

  --aqua-orange-color: oklch(
    from #ff9500 l c h
  );

  --dark-orange-color: oklch(
    from #ff9f0a l c h
  );

  --aqua-yellow-color: oklch(
    from #ffcc00 l c h
  );

  --dark-yellow-color: oklch(
    from #ffd60a l c h
  );

  --aqua-green-color: oklch(
    from #28cd41 l c h
  );

  --dark-green-color: oklch(
    from #32d74b l c h
  );

  --aqua-mint-color: oklch(
    from #00c7be l c h
  );

  --dark-mint-color: oklch(
    from #66d4cf l c h
  );

  --aqua-teal-color: oklch(
    from #59adc4 l c h
  );

  --dark-teal-color: oklch(
    from #6ac4dc l c h
  );

  --aqua-cyan-color: oklch(
    from #55bef0 l c h
  );

  --dark-cyan-color: oklch(
    from #5ac8f5 l c h
  );

  --aqua-blue-color: oklch(
    from #007aff l c h
  );

  --dark-blue-color: oklch(
    from #0a84ff l c h
  );

  --aqua-indigo-color: oklch(
    from #5856d6 l c h
  );

  --dark-indigo-color: oklch(
    from #5e5ce6 l c h
  );

  --aqua-purple-color: oklch(
    from #af52de l c h
  );

  --dark-purple-color: oklch(
    from #bf5af2 l c h
  );

  --aqua-pink-color: oklch(
    from #ff2d55 l c h
  );

  --dark-pink-color: oklch(
    from #ff375f l c h
  );

  --aqua-brown-color: oklch(
    from #a2845e l c h
  );

  --dark-brown-color: oklch(
    from #ac8e68 l c h
  );

  --aqua-gray-color: oklch(
    from #8e8e93 l c h
  );

  --dark-gray-color: oklch(
    from #98989d l c h
  );

  --aqua-gray-2-color: oklch(
    from #aeaeb2 l c h
  );

  --dark-gray-2-color: oklch(
    from #636366 l c h
  );

  --aqua-gray-3-color: oklch(
    from #c7c7cc l c h
  );

  --dark-gray-3-color: oklch(
    from #48484a l c h
  );

  --aqua-gray-4-color: oklch(
    from #d1d1d6 l c h
  );

  --dark-gray-4-color: oklch(
    from #3a3a3c l c h
  );

  --aqua-gray-5-color: oklch(
    from #e5e5ea l c h
  );

  --dark-gray-5-color: oklch(
    from #2c2c2e l c h
  );

  --aqua-gray-6-color: oklch(
    from #f2f2f7 l c h
  );

  --dark-gray-6-color: oklch(
    from #1c1c1e l c h
  );
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  scrollbar-width: none;
  scroll-margin-top: var(--header-height);
  scroll-padding-top: var(--header-height);
}

body {
  min-width: 300px;
  max-height: 600px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: system-ui;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  min-height: var(--header-height);
  display: flex;
  flex-direction: column;
}

main {
  overflow: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  scroll-timeline: --scroller;
}

.scroll-progress {
  position: fixed;
  top: var(--header-height);
  width: 100%;
  height: 1px;
  background-color: var(--separator-color);
  animation: reveal;
  animation-timeline: --scroller;
  animation-range: 0% 1%;
}

input {
  background-color: var(--text-field-background-color);
  color: var(--foreground-color);
  caret-color: var(--control-accent-color);
  margin: 0.3rem 0.6rem;
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--text-field-border-color);
  border-radius: 0.3rem;
}

input::placeholder {
  color: var(--placeholder-text-color);
}

input:focus {
  outline: 3px solid var(--keyboard-focus-indicator-color);
  outline-offset: -1px;
}

hr {
  margin: auto;
  width: 90%;
  border: none;
  border-top: 1px solid var(--separator-color);
  margin-block: 0.3rem;
}

menu-item::part(button),
keyboard-shortcut::part(key),
button,
kbd {
  font-family: inherit;
}

custom-menu:focus,
menu-item:focus {
  outline: none;
}

custom-menu {
  display: flex;
  flex-direction: column;
  user-select: none;
}

custom-menu::part(menu) {
  list-style: none;
  margin-block: 0.3rem;
  padding-inline: 0.3rem;
}

custom-menu::part(name) {
  font-size: 90%;
  color: var(--tertiary-label-color);
  margin: 0;
  padding: 0.3rem 0.9rem;
}

custom-menu:is([hidden="hidden"], [hidden=""]) {
  display: none;
}

menu-item::part(button) {
  width: 100%;
  border: none;
  background-color: unset;
  color: var(--label-color);
  text-align: start;
  display: flex;
  padding: 0.3rem 0.9rem;
  border-radius: 0.3rem;
  overflow-wrap: anywhere;
  gap: 0.1rem;
}

menu-item:is(:hover, :focus, :active)::part(button) {
  background-color: var(--selected-text-background-color);
  color: var(--selected-text-color);
}

menu-item::part(description) {
  flex: 1;
}

menu-item::part(shortcuts) {
  display: flex;
  color: var(--tertiary-label-color);
}

menu-item:is(:hover, :focus, :active)::part(shortcuts) {
  color: var(--selected-text-color);
}

menu-item.active {
  scroll-margin-top: 3rem;
  scroll-padding-top: 3rem;
}

menu-item.active::part(button) {
  border: none;
  border-radius: 0;
  box-shadow: -0.3rem 0 var(--control-accent-color);
}

menu-item.active:is(:hover, :focus, :active)::part(button) {
  background-color: inherit;
  color: inherit;
}

menu-item.active:is(:hover, :focus, :active)::part(shortcuts) {
  color: var(--tertiary-label-color);
}

menu-item[disabled] {
  pointer-events: none;
}

menu-item[disabled]:not(:hover, :focus, :active)::part(button),
menu-item[disabled]:not(:hover, :focus, :active)::part(shortcuts) {
  color: var(--disabled-control-text-color);
}

keyboard-shortcut + keyboard-shortcut::before {
  content: ",";
}

#menu-commands menu-item:has(suggestion-item) {
  display: none;
}

#palette-menu menu-item:is(:hover, :focus, :active)::part(button) {
  background-color: unset;
  color: var(--label-color);
}

#palette-menu menu-item:is(:hover, :focus, :active)::part(shortcuts) {
  color: var(--tertiary-label-color);
}

suggestion-item::part(label) {
  display: inline-block;
  padding: 0.1em 0.2em;
  border-radius: 0.3em;
  background-color: var(--tag-pill-background-color);
  color: var(--tag-pill-text-color);
}

suggestion-item::part(domain) {
  display: block;
  color: var(--tertiary-label-color);
}

[popover]:popover-open {
  position: sticky;
  top: 0;
  margin: auto;
  width: 90%;
  background-color: var(--popover-background-color);
  color: var(--popover-text-color);
  border: 1px solid var(--popover-border-color);
  border-radius: 0.6rem;
  box-shadow: 0px 5px 15px var(--shadow-color);
}

[popover]:popover-open main {
  margin-block: 0.3rem;
  padding: 0.9rem;
}

[popover]:popover-open :is(h1, h2, h3, h4, h5, h6) {
  margin-inline-start: 0.5rem;
  margin-block-end: 0.3rem;
}

[popover]:popover-open section {
  margin-block: 0.3rem;
  padding: 0.6rem;
  border: 1px solid var(--separator-color);
  border-radius: 0.3rem;
}

[popover]:popover-open footer {
  margin-block: 0.3rem;
  padding: 0.9rem;
  border-top: 1px solid var(--separator-color);
  display: flex;
  justify-content: flex-end;
}

[popover]:popover-open footer button {
  border: none;
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
  padding: 0.1rem 0.9rem;
  border-radius: 0.3rem;
}

[popover]:popover-open footer button:focus {
  outline: none;
}

[popover]:popover-open footer button:active:hover {
  background-color: var(--primary-button-active-background-color);
}

:is(header, main):has(~ :popover-open) {
  pointer-events: none;
}

[popover]:popover-open::backdrop {
  background-color: var(--background-color);
  opacity: 0.6;
}
