:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --foreground-color: #202020;
    --separator-color: #e8f0fe66;
    --tag-pill-background-color: #e8f0fe66;
    --tag-pill-text-color: #174ea6;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #202020;
    --foreground-color: #eaeaea;
    --separator-color: #2d333b;
    --tag-pill-background-color: #2d333b;
    --tag-pill-text-color: #c5d1de;
  }
}

@media (max-width: 800px) {
  figure {
    margin-inline: 0;
  }

  header h1 {
    font-size: 1.9em;
  }

  nav ul {
    font-size: 0.9em;
  }
}

body {
  margin: auto;
  padding: 0.5rem;
  max-width: 800px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

main {
  margin-block: 2rem;
  overflow-wrap: anywhere;
}

main figure {
  margin-block: 2.5rem;
}

main figure:nth-of-type(1) figcaption {
  margin-block-start: -1.5rem;
}

main figure:nth-of-type(2) figcaption {
  margin-block-start: -1.5rem;
}

main figure:nth-of-type(3) figcaption {
  margin-block-start: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

nav {
  text-transform: lowercase;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 0 2ch;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: safe center;
  font-size: 0.9em;
  padding: 1rem 0.5rem;
  border-top: 1px solid var(--separator-color);
}

table {
  border-collapse: collapse;
  width: 100%;
}

time {
  font-size: 0.9em;
  padding: 0.1em 0.2em;
  border-radius: 0.3em;
  background-color: var(--tag-pill-background-color);
}

figure {
  text-align: center;
}

figure img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

ul.languages {
  display: flex;
  list-style: none;
  gap: 0 1ch;
  flex-wrap: wrap;
}

ul.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-block: 2rem;
  padding: 0;
  gap: 1rem;
}

ul.actions li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: var(--tag-pill-background-color);
  color: var(--tag-pill-text-color);
}
